<div class="jumbotron">
<div class="shadow-lg p-3 mb-5 bg-white rounded">
<!--- top  start------>
  <div class="row">
    <div class="col">
      <h5>Users</h5>
    </div>
    <div class="col-md-auto">
      
    </div>
    <div class="col col-lg-2">
     <!--- last  start------>
     <div class="row">
      <div class="col">
       
      </div>
      <div class="col">
        <button type="button" class="btn btn-light">&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;</button>
      </div>
    </div>
    <!--- last end------>
    </div>
  </div>
  <!--- top end------>
  <br>
  <!--- top  start------>
  <div class="row">
    <div class="col">
      <div class="shadow-sm p-2 mb-5 bg-white rounded"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; Search Users</div>
    </div>
    <div class="col-md-auto">
      
      
    </div>
    <div class="col col-lg-2">
     <!--- last  start------>
     <div class="row">
      <div class="col">
       
        <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;1&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        
       &nbsp; <i class="fa fa-cog" aria-hidden="true"></i>
      </div>
    </div>
    <!--- last end------>
    </div>
  </div>
  <!--- top end------>
  
  <!--- table start------>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><i class="fa fa-circle-thin" aria-hidden="true"></i></th>
        <th scope="col">Name <i class="fa fa-caret-down" aria-hidden="true"></i></th>
        <th scope="col">Email</th>
        <th scope="col">Mobile number</th>
        <th scope="col">Plan name</th>
        <th scope="col">Plan Expiry</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><i class="fa fa-circle-thin" aria-hidden="true"></i></th>
        <td>Sudhakar</td>
        <td style="color: blue;">ss@gmail.com</td>
        <td>9000000000</td>
        <td>1 month</td>
        <td>06-12-2020</td>
        <td></td>
        

      </tr>
      <tr>
        <th scope="row"><i class="fa fa-circle-thin" aria-hidden="true"></i></th>
        <td>Karthik</td>
        <td style="color: blue;">kk@gmail.com</td>
        <td>8000000000</td>
        <td>6 months</td>
        <td>05-05-2020</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><i class="fa fa-circle-thin" aria-hidden="true"></i></th>
        <td>Ram</td>
        <td style="color: blue;">ram@gmail.com</td>
        <td>7000000000</td>
        <td>1 Year</td>
        <td>06-12-2021</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><i class="fa fa-circle-thin" aria-hidden="true"></i></th>
        <td>Shayam</td>
        <td style="color: blue;">shyam@gmail.com</td>
        <td>6000000000</td>
        <td>Trail</td>
        <td>15-12-2020</td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
</div>